body
{
	height: 100vh;
	font-family:"Futura PT", "Futura", "Helvetica", "Sans serif";
	color:#2c2c34;
	/* background:#fafafa; */
	background:#e8e9e9!important;
}

nav
{
	padding: 0!important;
}

nav a
{
	padding: 12px 12px!important;
}

/* pre * */
/* { */
/*     color:white!important; */
/* } */

pre {
	border: 1px solid #999;
	border-radius: 5px;
	padding: 1rem 2.5rem 1rem 1rem;
	margin: 1rem 0 2rem;
	background-color: #d2d3d4;
	border: 0.1rem solid #bcbdbe;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	color: black!important;
	background: none;
	padding: 0;
}

/* GENERAL */
.active
{
	/* background-color: #373a3e; */
	color: #04AA6D!important;
}

nav a:hover
{
	color: #04AA6D!important;

}


section
{
	padding: 15px 20px;
	width: auto;
	margin-right: auto;
	margin-left: auto;

}
.bloc
{
	/* border: 2px solid red; */
	/* width: 42%; */
}

.center
{
	margin: auto;
	height: 50%;
	padding: 10px;
}

.display-row
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.display-col
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* ====================================== home.html ====================================== */

#mainContainer
{
	font-weight: 700;
	font-size: 1.2em;
	height: 95%;
	display: flex;
}

#schoolLogo
{
	height: 180px;
	width: 180px;
}

.line
{
	height: 31px;
	width: 3px;
	min-width: 3px;
	transform: translate(0, 15px);
	background-color: black;
	margin-left: 30px;

}

#mainContainer h1 
{
	margin-left: 15px;
	font-size: 40px;
	transform: translate(0, 20px);

}
#mainContainer p
{
	line-height: 32px;
	margin: 0px;
}

/* DESCRIPTION BLOCK */
#mainContainer .description
{
	/* border: 2px 0 solid; */
	/* border-color: black; */
	font-style: italic;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	margin-bottom: 20px;
}

/* PHOTOS BLOCK */
#photoContainer img
{
	border-radius: 50%;
	width: 110px;
	margin: 10px;
}

#github
{
	position: absolute;
	bottom: 3%;
	height: 30px;
	width: 30px;
}

#github:hover
{
	transition: 0.3s;
	transition-timing-function: ease-in-out;
	transform: rotate(45deg);
}
/* ====================================== readme.html ====================================== */
#readme
{
	width: 90%;
	/* padding: 0 50px; */
	background-color: #d2d3d4;
}

#readme h2
{
	/* background-color: blue; */
}

p {
	text-align: justify;
}


